### Q1
Key Features of Python

- Free and Open Source
   >> Since it is open-source, this means that source code is also available to the public. So you can download it, use it as well as share it. 
   
- Easy to code
   >> Python is very easy to learn the language as compared to other languages like C, C#, Javascript, Java, etc.
   
- Easy to Read
   >>  Python’s syntax is really straightforward. The code block is defined by the indentations rather than by semicolons or brackets.
   
- Object-Oriented Language
   >> Python supports object-oriented language and concepts of classes, object encapsulation, etc. 
   
- High-Level Language
   >> High level languages are easier to understand for humans because it uses lot of symbols letters phrases to represent logic and instructions in a program. 
   
- Large Community Support
   >> Our questions are constantly answered by the enormous StackOverflow community. These websites have already provided answers to many questions about Python, so Python users can    consult them as needed.
   
- Large Standard Library 
 >> Python has Standard Library that provides a rich set of modules and functions so you do not have to write your own code for every single thing. There are many libraries present in Python such as pandas, numpy, matplotlib, nltk etc.
 
- Backend development   
     >>  Backend is the strong forte of Python it’s extensively used for this work cause of its frameworks like Django and Flask. 

- Allocating Memory Dynamically
    >> The variable data type does not need to be specified. The memory is automatically allocated to a variable at runtime when it is given a value.

In [1]:
# Q2 >> Python keywords

help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               break               for                 not
None                class               from                or
True                continue            global              pass
__peg_parser__      def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield

#### Q2
- Python keywords'

    >>Python Keywords are some predefined and reserved words in Python that have special meanings. Keywords are used to define the syntax of the coding. The keyword cannot be used as an  identifier, function, or variable name. All the keywords in Python are written in lowercase except True and False. There are 35 keywords in Python 3.11.

In [2]:
# examples of keywords 

True and True

True

In [5]:
True or True

True

In [6]:
True and False

False

In [7]:

True or False

True

In [9]:
not True

False

In [10]:
not False

True

In [16]:
name ="abdullah inaam"
"abd" in name

True

In [17]:
"abdc" in name

False

In [14]:
"abdc" not in name

True

In [51]:
num=int(input("enter time"))
if num in range(12,18):
    print("Good afternoon")
elif num in range (18,22) :
    print("Good evening")
    
elif num in range(5,12) :
     print("Good Morning")
else :
    print("GOT TO SLEEP ITS NIGHT TIME")

enter time 3

GOT TO SLEEP ITS NIGHT TIME

In [52]:

num=int(input("enter no"))
if num %2==0:
    print("even")
else:
    print("odd")

enter no 4

even

#### Q3 
- Mutbale and Immutable 
    >>Mutable objects in Python are those that can be changed after they are created, like lists or dictionaries. Immutable objects, on the other hand, cannot be changed after they are created, such as strings, integers, or tuples.

In [53]:
#examples
List=["orange", "grapes", "banana","mango","pineapple"]
List[0]="apple"
List

#i.e list is mutable

['apple', 'grapes', 'banana', 'mango', 'pineapple']

In [54]:
name="PWSKILLS"
name[3]="r"

#i.e strings are immutable

TypeError: 'str' object does not support item assignment

In [56]:
Tuple=("tomato","onion","potato","bringal")
Tuple[0]="ginger"

#i.e tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [57]:
Set={"inaam","danish", "zamin","dawar"}
Set[0]="zarka"


#set is immutable

TypeError: 'set' object does not support item assignment

In [65]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["newadd"]="changable"
thisdict

#dict is mutable

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'newadd': 'changable'}

### Q4 
- PYTHON OPERATORS
>>> Operators are used to perform operations on variables and values.


- Python divides the operators in the following groups:
> Arithmetic operators
> Assignment operators
> Comparison operators
> Logical operators
> Identity operators
> Membership operators
> Bitwise operators

In [1]:
#aritmetic operators
a,b=map(int, input().split())
add=a+b
print(add)
sub=a-b
print(sub)
mul=a*b
print(mul)
div=a/b
print(div)
exp=a**b
print(exp)
mod=a%b
print(mod)
floor=a//b
print(floor)

2 4
6
-2
8
0.5
16
2
0

In [27]:
#assignment operators
x=3
x+=3
x-=3
x*=3
x/=3
x%=3
x//=3
x**=3

In [11]:
x=3
x|=3
print(x)

3

In [12]:
x=3
x&=3
print(x)

3

In [13]:
x=3
x^=3
print(x)

0

In [14]:
x=3
x>>=3
print(x)

0

In [15]:
x=3
x<<=3
print(x)

24

In [20]:
#comparision operator

3==2

False

In [21]:
3!=2

True

In [22]:
3>2

True

In [23]:
3<2

False

In [24]:
3>=2

True

In [25]:
3<=2

False

In [28]:
# logical operators

True and True

True

In [29]:

True or True

True

In [30]:
True and False

False

In [33]:
True or False

True

In [35]:
not(True and True)

False

In [85]:
# MEMBERSHIP OPERATORS
name= "abdullahinaam"
"abdu" in name

True

In [37]:
"abduks" not in name

True

In [41]:
# IDENTITY OPERATORS
a=2
b=3
a=b
a is b

True

In [40]:
a is not b

False

In [42]:
# BITWISE OPERATORS

a=19
b=13
a&b

1

In [46]:
bin(19)

'0b10011'

In [47]:
bin(13)

'0b1101'

In [48]:
bin(1)

'0b1'

In [49]:
a|b

31

In [50]:
a^b

30

In [52]:
~b

-14

In [53]:
a>>b

0

In [54]:
a<<b

155648

### Q5
-Type casting

   >>Type Casting is the method to convert the Python variable datatype into a certain data type in order to perform the required operation by users.
   
   >>There can be two types of Type Casting in Python:
   
   - Python Implicit Type Conversion
          >>In this, method, Python converts the datatype into another datatype automatically. Users don’t have to involve in this process. 
    - Python Explicit Type Conversion
           >> In this method, Python needs user involvement to convert the variable data type into the required data type.

In [55]:
#examples
a = 7
print(type(a))

<class 'int'>

In [56]:
b = 3.0
print(type(b))

<class 'float'>

In [61]:
c = a + b 
print(type(c))

<class 'float'>

In [59]:
d = a * b
print(type(d))

<class 'float'>

In [62]:
#examples
"6"+7   #differnt data types

TypeError: can only concatenate str (not "int") to str

In [63]:
int("6")+7

13

In [64]:
a="100"
type(a)

str

In [66]:
a=int(a)
type(a)

int

In [73]:
a=5.9
type(a)

float

In [75]:
int(a)
type(a)

float

In [79]:
a=5
n=str(a)
type(n)

str

### Q6
- CONDITIONAL STATEMENTS

       >> Conditional statements in Python play a key role in determining the direction of program execution. If-Else statements are fundamental, providing a way to execute different blocks of code based on specific conditions.If-Else statements offer two paths, allowing for different outcomes depending on the condition evaluated.
       
       >> Their are different types of conditional statements
          .if
          .if else
          .elif
          .nestef if else

In [81]:
# examples
#if

num=10
if num<=10:
    print("ture")

ture

In [82]:
#if else

num=10
if num<=10:
    print("ture")
else:
    print("false")

ture

In [84]:
#elif 

num=int(input("enter time :"))
if num in range(12,18):
    print("Good afternoon")
elif num in range (18,22) :
    print("Good evening")
    
elif num in range(5,12) :
     print("Good Morning")
else :
    print("GOT TO SLEEP ITS NIGHT TIME")

enter time :23
GOT TO SLEEP ITS NIGHT TIME

In [88]:
#nested if else

i = 0; 


if i != 0:
 
    if i > 0:
        print("Positive")
 
    if i < 0:
        print("Negative")
else:
    print("Zero")

Zero

In [110]:
num=int(input("enter marks:"))
if num>=90 :
    print("Grade A+")
elif 80<=num<90:
    print("Grade B+")
elif 70<=num<80:
    print("Grade C+")
elif 60<=num<70:
    print("Grade D+")
elif 50<=num<60:
    print("Grade D")
elif 40<=num<50:
    print("Grade E+")
elif 30<=num<40:
    print("Grade E")
else:
    print("FAIL")

enter marks:49
Grade E+

In [116]:
num=int(input("enter"))
if (num>10) & (num<20):
    print("good to go")
else:
    print("work again")

enter20
work again

### Q7
- LOOPS
     >>Loops, also known as iterative statements, are used when we need to execute a block of code repetitively. Loops in programming are control flow structures that enable the repeated execution of a set of instructions or code block as long as a specified condition is met. Loops are fundamental to the concept of iteration in programming, enhancing code efficiency, readability and promoting the reuse of code logic.
     >>Their are two types of loops 
     . for loop
     . while loop
     .nested loops of both

In [119]:
#examples

for i in range(0,10):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

In [126]:

list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [128]:
a="abdullahinaam"
for i in a:
    print(i,end=" ")

a b d u l l a h i n a a m

In [136]:
List=["apple","banana","mango",12,882]
for i in List:
    print(i)

apple
banana
mango
12
882

In [11]:
List=["apple","banana","mango",12,882]
for i in List:
    if i== "mango":
        continue
    print(i)
else:
    print("sucessful")

apple
banana
12
882
sucessful

In [143]:
for i in List:
    if i== "mango":
        break
    print(i)

apple
banana

In [144]:
for i in List:
    if i== "mango":
        continue
    print(i)

apple
banana
12
882

In [145]:
for i in range(0,20,2):
    print(i,end=" ")

0 2 4 6 8 10 12 14 16 18

In [148]:
n=int(input("enter range"))

for i in range(n):
    for j in range(n):
        print(" *", end="")
    print()

enter range6
 * * * * * *
 * * * * * *
 * * * * * *
 * * * * * *
 * * * * * *
 * * * * * *

In [149]:
n=int(input("enter range"))

for i in range(n):
    for j in range(i+1):
        print(" *", end="")
    print()

enter range4
 *
 * *
 * * *
 * * * *

In [150]:
#while loops
n=int(input("enter no:"))
i=1
while i <n:
    print(i)
    i=i+1

enter no:7
1
2
3
4
5
6

In [1]:
count=5
while count>0:
    print(count)
    count=count-1

5
4
3
2
1

In [2]:
n=int(input("enter no:"))
i=1
while i <n:
    print(i)
    i=i+1
else:
    print("sucessful")

enter no:5
1
2
3
4
sucessful

In [3]:
n=int(input("enter no:"))
i=1
while i <n:
    print(i)
    i=i+1
    if i==3:
        break
    
else:
    print("sucessful")

enter no:6
1
2

In [4]:
n=int(input("enter no:"))
i=1
while i <n:
    print(i)
    i=i+1
    if i==3:
        continue
    
else:
    print("sucessful")

enter no:6
1
2
3
4
5
sucessful

In [5]:
row=1
while row <=4:
    col=1
    while col <= row:
        print("*",end="")
        col=col+1
    print()
    row=row+1

*
**
***
****

In [8]:
n=int(input("enter no:"))
row=1
while row <=n:
    col=1
    while col <= n:
        
        print(" *",end="")
        col=col+1
    print()
    row=row+1

enter no:6
 * * * * * *
 * * * * * *
 * * * * * *
 * * * * * *
 * * * * * *
 * * * * * *